{% load static %}
 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="about-head" style="font-weight: 500;">About</h2>
                <hr class="star-light about-head">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>This site is made for rawtuna101's Art scheduler. Rawtuna101 produces illustrations mainly based on ANIME or Games.</p>
            </div>
            <!-- <div class="col-lg-4">
                <p>이곳은 Rawtuna101의 그림 일정 관리 사이트입니다. </p>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
            </div> -->
            </div>
        </div>
    </div>
</section>