{% load static %}
    <!-- Portfolio Grid Section -->
    <section id="portfolio" style="padding-top:0px">    
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="text-center">
                    <!-- <div class="col-lg-12" style="border-radius: 0.5em; background-color: rgb(140, 204, 247);">
                        <h2 class="works" style="color: azure;">CURRENT WORKS</h2>
                        <h2 class="works" style="color: azure;">作業中</h2>
                    </div> -->
                <div class="col-lg-12 text-center" >
                    <h2></h2>            
                    <hr class="star-primary-1">
                    </hr>
                </div>
                
                <div class="row">
                    <div class="col-md-2 ">
                    </div>
                    <div class="col-md-8 ">
                        <div class="embed-responsive embed-responsive-4by3" style="padding-bottom: 65%;">
                            <!-- <div class="bigwindow embed-responsive-item">
                                <div class="blackwindow" data-toggle="modal" data-target="#contact0" onclick="play()">
                                    <div class="blackwindow-contents">
                                        <div id="d-day">00:00</div>
                                    </div>
                                </div>                            
                                <img src="http://drive.google.com/uc?export=view&id=1OExtjqmrl2BgJEe0lYvyCHuWBstfJAEt" class="main-img" alt="" onerror="this.src = 'img/closed.png'">
                            </div> -->
                            <iframe
                                    src="https://bangumi.rawtuna101.art/embed/video"
                                    title="Owncast"
                                    height="350px" width="550px"
                                    referrerpolicy="origin"
                                    scrolling="no"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                        <div class="row" style="padding-right: 20px; padding-left: 20px; padding-top: 10px;">
                            <div class="col-lg-12">
                                <h3 class="RKGK">RKGK</h3>
                                <div class="col-lg-12" style="font-size: 1rem;">
                                    <a href=" {% url "rkgk" %}">
                                        <div class='flex-img col-lg-3 col-md-3 col-sm-3 col-xs-6'>
                                            <div class='flex-img-center'>
                                                <img class='in-img' src="http://drive.google.com/uc?export=view&id=17EtxpWJR-wzR2FVeBMe9OkvUIEptSyM-">
                                            </div>
                                        </div>
                                        <div class='flex-img col-lg-3 col-md-3 col-sm-3 col-xs-6'>
                                            <div class='flex-img-center'>
                                                <img class='in-img' src="http://drive.google.com/uc?export=view&id=1LQK3mFmgtp9m68X33IPs7n_V43WB2-zM">
                                            </div>
                                        </div>
                                        <div class='flex-img col-lg-3 col-md-3 col-sm-3 col-xs-6'>
                                            <div class='flex-img-center'>
                                                <img class='in-img' src="http://drive.google.com/uc?export=view&id=1-0GgDNSjRmyafFylmTyTYiEQeb0ZJeaW">
                                            </div>
                                        </div>
                                        <div class='flex-img col-lg-3 col-md-3 col-sm-3 col-xs-6'>
                                            <div class='flex-img-center'>
                                                <img class='in-img' src="http://drive.google.com/uc?export=view&id=1tL3Pw2lNIIXVh1FcoqOm_kOaS8-63QnY">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div>
                <div id="fav" class="col-lg-3 col-md-12" >
                    <div style="margin-top:55px;">
                        <iframe
                        src="https://bangumi.rawtuna101.art/embed/chat/readwrite"
                        title="Owncast"                    
                        height="650px" width="100%"
                        referrerpolicy="origin"
                        scrolling="no"
                        allowfullscreen>
                        </iframe>
                    </div>
                </div> -->
            </div>
        </div>
    </section>