{% load static %}

<!DOCTYPE html>
<html lang="ko">
{% include 'blog/head.html' %}
<body id="page-top" class="index">
{% include 'blog/nav.html' %}
{% include 'blog/header.html' %}
{% block content %}
{% endblock %}
<!-- {#{% include 'blog/footer.html' %}#} -->
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
        </div>
<!-- {#{% include 'blog/modals.html' %}#}
{#{% include 'blog/modals2.html' %} #}-->
{#{% include 'blog/js.html' %}#}
    </body>
</html>