{% load static %}
<!-- Header -->
<header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <div style="display:inline-block;">
              <span class="name" style="font-family: 'classictype';"><span id="name-raw">RAW</span>TUNA101</span>
              <span class="skills">{{ site.skills }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- <section style="padding: 10px">
    <div class="container">
      <div class="row" style="text-align: center;">
        <div class="col-xs-1" >
          <div class="header-item" style="max-width: 100px;">
            Twitter
          </div>
        </div>
        <div  class=" col-xs-offset-7 col-xs-1 " >
          <div class="header-item">
            Pixiv
          </div>          
        </div>
        <div class="col-xs-1 " >
          <div class="header-item">
            Discord
          </div>
        </div>
        <div class="col-xs-1 " >
          <a href="https://bangumi.rawtuna101.art/" class="header-item">
            Owncast
          </a>
        </div>
        <div class=" col-xs-1">
          <a href="https://www.pinterest.co.kr/hoon2911/_saved/" class="header-item">
            Pinterest
          </a>
        </div>
        <div class="col-xs-1" >
          <div class="header-item-none" style="max-width: 100px;">
            T
          </div>
        </div>
        <div  class=" col-xs-offset-7 col-xs-1 " >
          <div class="header-item-none">
            P
          </div>          
        </div>
        <div class="col-xs-1 " >
          <div class="header-item-none">
            D
          </div>
        </div>
        <div class="col-xs-1 " >
          <a href="https://bangumi.rawtuna101.art/" class="header-item-none">
            O
          </a>
        </div>
        <div class=" col-xs-1">
          <a href="https://www.pinterest.co.kr/hoon2911/_saved/" class="header-item-none">
            P
          </a>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <hr style="margin-top:0px;margin-bottom:30px;"> -->
  