{% load static %}
 <!-- jQuery Version 1.11.0 -->
 <script src="{% static "/js/jquery-1.11.0.js" %}"></script>
 
 <!-- Bootstrap Core JavaScript -->
 <script src="{% static "/js/bootstrap.min.js" %}"></script>

 <!-- Plugin JavaScript -->
 <script src="{% static "/js/jquery.easing.min.js" %}"></script>
 <script src="{% static "/js/classie.js" %}"></script>
 <script src="{% static "/js/cbpAnimatedHeader.js" %}"></script>

 <!-- Contact Form JavaScript -->
 <script src="{% static "/js/jqBootstrapValidation.js" %}"></script>
 <script src="{% static "/js/contact_me_static.js" %}"></script>
 

 <!-- Custom Theme JavaScript -->
 <script src="{% static "/js/freelancer.js" %}"></script>
 


 {% if site.contact == "disqus" %}
 <!-- Disqus Stuff -->
 {% include js_disqus.html %}
 {% endif %}
 <!-- <script>
      $(document).ready(function() {
var lazyloadImages;    
if ("IntersectionObserver" in window) {
   lazyloadImages = document.querySelectorAll(".lazy");
   var imageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
      if (entry.isIntersecting) {
         var image = entry.target;
         image.src = image.dataset.src;
         image.classList.remove("lazy");
         imageObserver.unobserve(image);
      }
      });
   });
   lazyloadImages.forEach(function(image) {
      imageObserver.observe(image);
   });
} else {  
   var lazyloadThrottleTimeout;
   lazyloadImages = $(".lazy");
   
   function lazyload () {
      if(lazyloadThrottleTimeout) {
      clearTimeout(lazyloadThrottleTimeout);
      }    
      lazyloadThrottleTimeout = setTimeout(function() {
         var scrollTop = $(window).scrollTop();
         lazyloadImages.each(function() {
            var el = $(this);
            if(el.offset().top - scrollTop < window.innerHeight) {
               var url = el.attr("data-src");
               el.attr("src", url);
               el.removeClass("lazy");
               lazyloadImages = $(".lazy");
            }
         });
         if(lazyloadImages.length == 0) { 
            $(document).off("scroll");
            $(window).off("resize");
         }
      }, 20);
   }
   $(document).on("scroll", lazyload);
   $(window).on("resize", lazyload);
}
})
 </script> -->
 