{% load static %}

<!DOCTYPE html>
<html lang="ko">
{% include 'blog/head.html' %}
<body id="page-top" class="index"></body>
{% include 'blog/nav.html' %}
{% include 'blog/header.html' %}
{% include 'blog/bangumi.html' %}
{% include 'blog/portfolio_grid.html' %}
{% include 'blog/about.html' %}
{% include 'blog/pinterest.html' %}
{% include 'blog/footer.html' %}
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
        </div>
{% include 'blog/modals.html' %}
{% include 'blog/js.html' %}
    </body>
</html>
