{% load static %}
<!-- Modals2 -->
 <div class="portfolio-modal modal fade" id="contact0" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body content-center">
                            <h3>You're doing GREAT!</h3>
                          <a href="https://www.pixiv.net/users/4492169" class="col-md-3" style="width:100px;height: 100px;float:none;"><img src="{% static "/img/pixiv.png" %}" style="object-fit:cover; width:100px;height: 100px;"alt=""></a>
                          <a href="https://www.twitch.tv/ssunghoon" class="col-md-3" style="width:100px;height: 100px;float:none;"><img src="{% static "/img/twitch.png" %}" style="object-fit:cover; width:100px;height: 100px;"alt=""></a>
                          <a href="https://chat.rawtuna101.art/home" class="col-md-3" style="width:100px;height: 100px;float:none;"><img src="{% static "/img/rocketchat.png" %}" style="object-fit:cover; width:100px;height: 100px;"alt=""></a>
                          <a class="col-md-3" style="width:100px;height: 100px;float:none;"><img src="{% static "/img/discord.png" %}" style="object-fit:cover; width:100px;height: 100px;"alt=""></a>
                          <div class="col-md-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
  </div>