{% load static %}
 <!-- Portfolio Modals -->
 {% for post in showposts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary2">
                            <img src="{{ post.get_photo_url }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.body %}
                                <p>{{ post.body|striptags }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong><span style="color:rgb(161, 129, 219)">{{ post.client }}</span>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project_date %}
                                    <li>Date:
                                        <strong><span style="color:rgb(161, 129, 219)">{{ post.project_date }}</span>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Service:
                                    <strong><span style="color:rgb(161, 129, 219)">{{ post.category }}</span>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>                                                        
                                <div class="detailBox" style="max-width: 100%; margin: 0 auto;text-align:start;">
                                    <div class="titleBox">
                                      <label>Comment Box</label>
                                        <button type="button" class="close" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="commentBox">
                                        
                                        <p class="taskDescription">Language!</p>
                                    </div>
                                    <div class="actionBox">
                                        <ul class="commentList commentList{{ post.pk }}">
                                            {% for comment in post.comment_set.all %}
                                            <li>
                                                <span>{{ comment.comment_user }}</span>
                                                <div class="commenterImage">
                                                  <img src="{% static "/img/speech-bubble.png" %}" />
                                                </div>
                                                <div class="commentText">
                                                    <p class="taskDescription">{{ comment.comment_textfield }}</p> <span class="date sub-text">{{ comment.comment_date }}</span>
                                
                                                </div>
                                            </li>                                            
                                            {% endfor %} 
                                        </ul>
                                        {% if user.is_authenticated %}
                                        <form class="form-inline" role="form">
                                            <div class="form-group">
                                                <input class="form-control replyContent{{ post.pk }}" type="text" placeholder="Your comments" />
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-default btnReply{{ post.pk }}">Add</button>
                                            </div>
                                        </form>
                                        {% else %}
                                        
                                        {% endif %}  
                                        <script>
                                            let btnReply{{ post.pk }} = document.querySelector('.btnReply{{ post.pk }}')
                                            btnReply{{ post.pk }}.addEventListener('click', e => {
                                        
                                                let content{{ post.pk }} = document.querySelector('.replyContent{{ post.pk }}').value;
                                        
                                                let param{{ post.pk }} = {
                                                    'memberId' : '{{ user.id }}',
                                                    'postPk' : '{{ post.pk }}',
                                                    'content' : content{{ post.pk }},
                                                }
                                            
                                                $.ajax({
                                                    url : '{% url "comment" %}',
                                                    type : 'POST',
                                                    headers: {
                                                        'X-CSRFTOKEN' : '{{ csrf_token }}'
                                                    },
                                                    data : JSON.stringify(param{{ post.pk }}),
                                                    success: function(data){
                                                        console.log(data);
                                                        let commentUl = document.querySelector('.commentList{{ post.pk }}');
                                                        let NewLi = document.createElement('li');
                                                        let str = '<span>' + data.name + '</span> <div class="commenterImage"><img src="{% static "/img/speech-bubble.png" %}"/></div><div class="commentText"><p class="taskDescription">' + data.content +'</p><span class="date sub-text">'+data.date+'</span></div>';
                                                        NewLi.innerHTML = str;
                                                        commentUl.append(NewLi);
                                                    },
                                                    error: function(request,status,error){
                                                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                                                },
                                                })
                                            })
                                            
                                        </script>                                                                              
                                    </div>                                    
                                </div>                             
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
