{% load static %}
 <!-- Portfolio Modals -->
 {% for post in showposts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary2">
                            <img src="{{ post.get_photo_url }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.body %}
                                <p>{{ post.body|striptags }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong><span style="color:rgb(161, 129, 219)">{{ post.client }}</span>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project_date %}
                                    <li>Date:
                                        <strong><span style="color:rgb(161, 129, 219)">{{ post.project_date }}</span>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Service:
                                    <strong><span style="color:rgb(161, 129, 219)">{{ post.category }}</span>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class=""> 
                                {% for comment in post.comment_set.all %}
                                <div class="container mt-5 mb-5">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-6">
                                            <div class="comment-section">
                                                <div class="card p-3 border-blue"> <span class="dots"></span>
                                                    <div class="d-flex justify-content-between mt-2">
                                                        <div class="d-flex flex-row">
                                                            <div class="user-image"> <img src="https://i.imgur.com/rvQ3LAt.jpg" width="40" class="rounded-circle"> </div>
                                                            <div class="d-flex flex-column">
                                                                <h6 class="mb-0">Martin Tyler</h6> <span class="date">Nov 29, 2020 at 9:40</span>
                                                            </div>
                                                        </div>
                                                        <div> <span>Resolve</span> </div>
                                                    </div>
                                                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, odio in interdum tristique, erat arcu vestibulum leo, non condimentum eros risus quis tellus.</p>
                                                </div>
                                                <div class="card p-3 border-blue mt-3"> <span class="dots"></span>
                                                    <div class="d-flex justify-content-between mt-2">
                                                        <div class="d-flex flex-row">
                                                            <div class="user-image"> <img src="https://i.imgur.com/rvQ3LAt.jpg" width="40" class="rounded-circle"> </div>
                                                            <div class="d-flex flex-column">
                                                                <h6 class="mb-0">Laura Nikos</h6> <span class="date">Nov 30, 2020 at 10:40</span>
                                                            </div>
                                                        </div>
                                                        <div> <span>Pending</span> </div>
                                                    </div>
                                                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, odio in interdum tristique, erat arcu vestibulum leo, non condimentum eros risus quis tellus.</p>
                                                    <div class="form"> <input class="form-control" placeholder="Write a comment...">
                                                        <div class="mt-2 d-flex justify-content-end"> <button class="btn btn-outline-secondary btn-sm">Cancel</button> <button class="btn btn-primary btn-sm ms-1">Suggest changes</button> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- Single Comment -->
                                    <div class="media mb-4">
                                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ comment.comment_user }}</h5>
                                            <h5 class="mt-0">{{ comment.comment_date }}</h5>
                                            <h5 class="mt-0">{{ comment.comment_thumbnail_url }}</h5>
                                            <h5 class="mt-0">{{ comment.comment_textfield }}</h5>
                                        </div>
                                    </div>
                                    
                                {% endfor %}                               
                              <script src="https://utteranc.es/client.js"
                                      repo="Rawtuna101/Homepage-sample"
                                      issue-term="{{ post.pk }}"
                                      theme="boxy-light"
                                      crossorigin="anonymous"
                                      async>
                              </script>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}